<div class="p-3">
    <div class="theme-container">
        <mat-card ngClass.lt-lg="p-0">
            <form action="" [formGroup]="ownerForm">
                <mat-card-title class="fw-500 text-center">
                    Owner
                </mat-card-title>
                <mat-card-content fxLayout="row wrap">
                    <div fxFlex="20" class="px-2">
                    </div>
                    <div fxFlex="60" class="px-2" fxLayout="row wrap">
                        <div fxFlex="50" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="owner_name">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="dob">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Mobile (+91-987-654-3210)</mat-label>
                                <input matInput placeholder="Ex. +91-987-654-3210" formControlName="contact_number">
                            </mat-form-field>

                            <!-- <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Mobile</mat-label>
                                <input matInput  placeholder="Phone number with country code"
                                formControlName="contact_number">
                            </mat-form-field> -->

                        </div>
                        <div fxFlex="100" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" formControlName="permanent_address">
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" class="px-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Property</mat-label>
                                <mat-select placeholder="Select Property..." formControlName="property_id">
                                    <mat-option *ngFor="let property of property" [value]="property.propertyId">
                                        {{property.property_name}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Profile Photo" fileLimit="1" fileAccept="image/*"
                                    formControlName="profile" (change)="profilePhotoFlag1 = false" #profile>
                                </input-file>
                                <img *ngIf="profilePhotoFlag1" src="{{ProfileImage}}" alt=""  width="150px">
                            </div>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Adhar Card File" fileLimit="1"
                                    formControlName="adharFile" (change)="AdharFlag1 = false">
                                </input-file>
                                <div class="shortName">
                                    <a  mat-button *ngIf="AdharFlag1" [href]="ownerForm.value.adharFile" target="_blank">
                                       <span > {{adharCardTitle}}</span> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Pan Card File" fileLimit="1"
                                    formControlName="panFile" (change)="panFlag1 = false">
                                </input-file>
                                <div class="shortName">

                                    <a mat-button *ngIf="panFlag1" [href]="ownerForm.value.panFile" target="_blank">
                                        {{PanCardTitle}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Documents" fileLimit="10"
                                    formControlName="extra_docs" (change)="getDocument()">
                                </input-file>
                            </div>
                        </div>
                        <div *ngIf="extraDocs.length !== 0" fxFlex="100" class="pb-2 center" fxlayoutalign="center center">
                            <h5>List of uploaded extra documents</h5>
                            <mat-list *ngFor="let doc of extraDocs;let i = index;">  
                                <mat-list-item class="shortName" fxLayout="row wrap">
                                    <div fxFlex="100" class="pb-2 center" fxlayoutalign="left center">
                                        <a mat-button [href]="doc.path" target="_blank">
                                            {{i+1}}. {{doc.title}}
                                        </a>
                                    </div>
                                    <div fxFlex="100" class="pb-2 center" fxlayoutalign="center center">

                                        <button mat-icon-button color="warn" class="mx-2">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                
                                </mat-list-item>
                            </mat-list>
                        </div>
                        <div fxFlex="100" class="mb-2">
                            <div fxLayout="row wrap">
                                <div fxFlex="100" fxFlex.gt-xs="25" class="p-2">
                                    <mat-checkbox formControlName="is_current_owner"> Is Current Owner </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" class="px-2 fw-500 text-center">

                            <p> Co-Owner Details </p>
                        </div>

                        <div formGroupName="co_owner_details" fxFlex="100" fxLayout="row wrap" class="my-2 ">
                            <div fxFlex="100" fxLayoutAlign="start center" class="step-section pb-2">
                                <div fxFlex="100" fxLayout="row wrap">
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Name</mat-label>
                                            <input matInput placeholder="Name" formControlName="owner_name">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Date of Birth</mat-label>
                                            <input matInput [matDatepicker]="picker_co" placeholder="Date"
                                                formControlName="dob">
                                            <mat-hint>DD/MM/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker_co"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_co></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email" formControlName="email">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Mobile(+91-987-654-3210)</mat-label>
                                            <input matInput placeholder="Ex. +91-987-654-3210" formControlName="contact_number">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Address</mat-label>
                                            <input matInput placeholder="Address" formControlName="permanent_address">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Profile Photo" fileLimit="1" fileAccept="image/*"
                                    formControlName="co_profile" (change)="profilePhotoFlag2 = false">
                                </input-file>
                                <img *ngIf="profilePhotoFlag2" src="{{ProfileImage2}}" alt=""  width="150px">

                            </div>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Adhar Card File" fileLimit="1"
                                    formControlName="co_adhar_card" (change)="AdharFlag2 = false">
                                </input-file>
                                <div class="shortName">

                                    <a mat-button *ngIf="AdharFlag2" [href]="ownerForm.value.co_adhar_card" target="_blank">
                                        {{adharCardTitle2}}
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                            <div class="px-2">
                                <input-file type="file" placeholder="Pan Card File" fileLimit="1"
                                    formControlName="co_panFile" (change)="panFlag2 = false">
                                </input-file>
                                <div class="shortName">
                                    <a mat-button *ngIf="panFlag2" [href]="ownerForm.value.co_panFile" target="_blank">
                                        {{PanCardTitle2}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="100" class="mb-2">
                            <div fxLayout="row wrap">
                                <div fxFlex="100" fxFlex.gt-xs="25" class="p-2">
                                    <mat-checkbox formControlName="is_poa"> Is POA </mat-checkbox>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="100" fxLayout="row wrap" *ngIf="ownerForm.get('is_poa').value">
                            <div formGroupName="poa_owner_details" fxFlex="100" fxLayout="row wrap" class="my-2 ">
                                <div fxFlex="100" fxLayoutAlign="start center" class="step-section pb-2">
                                    <div fxFlex="100" fxLayout="row wrap">
                                        <div fxFlex="50" class="px-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name</mat-label>
                                                <input matInput placeholder="Name" formControlName="owner_name">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50" class="px-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Date of Birth</mat-label>
                                                <input matInput [matDatepicker]="picker_co" placeholder="Date"
                                                    formControlName="dob">
                                                <mat-hint>DD/MM/YYYY</mat-hint>
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker_co"></mat-datepicker-toggle>
                                                <mat-datepicker #picker_co></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50" class="px-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="Email" formControlName="email">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50" class="px-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Mobile(+91-987-654-3210)</mat-label>
                                                <input matInput placeholder="Ex. +91-987-654-3210" formControlName="contact_number">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="100" class="px-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Address</mat-label>
                                                <input matInput placeholder="Address"
                                                    formControlName="permanent_address">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                <div class="px-2">
                                    <input-file type="file" placeholder="Profile Photo" fileLimit="1"
                                        fileAccept="image/*" formControlName="poa_profile" (change)="profilePhotoFlag3 = false">
                                    </input-file>
                                    <img *ngIf="profilePhotoFlag3" src="{{ProfileImage3}}" alt=""  width="150px">
                                </div>
                            </div>
                            <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                <div class="px-2">
                                    <input-file type="file" placeholder="Adhar Card File" fileLimit="1"
                                        formControlName="poa_adhar" (change)="AdharFlag3 = false">
                                    </input-file>
                                    <div class="shortName">
                                        <a mat-button *ngIf="AdharFlag3" [href]="ownerForm.value.poa_adhar" target="_blank">
                                            {{adharCardTitle3}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                <div class="px-2">
                                    <input-file type="file" placeholder="Pan Card File" fileLimit="1"
                                        formControlName="poa_pan" (change)="panFlag3 = false">
                                    </input-file>
                                    <div class="shortName">
                                        <a mat-button *ngIf="panFlag3" [href]="ownerForm.value.poa_pan" target="_blank">
                                            {{PanCardTitle3}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- <div formArrayName="co_owner_details" fxFlex="100"  fxLayout="row wrap" class="my-2 ">
                            <div fxFlex="100" fxLayoutAlign="start center" class="step-section pb-2"
                                *ngFor="let co-owner of ownerForm.get('co_owner_details').controls;let i = index;">
                                <div fxFlex="100" fxLayout="row wrap" [formGroupName]="i">
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Name</mat-label>
                                            <input matInput placeholder="Name" formControlName="owner_name">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Date of Birth</mat-label>
                                            <input matInput [matDatepicker]="picker_co" placeholder="Date" formControlName="dob">
                                            <mat-hint>DD/MM/YYYY</mat-hint>
                                            <mat-datepicker-toggle matSuffix [for]="picker_co"></mat-datepicker-toggle>
                                            <mat-datepicker #picker_co></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email" formControlName="email">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Mobile</mat-label>
                                            <input matInput placeholder="Mobile" formControlName="contact_number">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" class="px-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Address</mat-label>
                                            <input matInput placeholder="Address" formControlName="permanent_address">
                                        </mat-form-field>
                                    </div>
                                   
                                    <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                        <div class="px-2">
                                            <input-file type="file" placeholder="Profile Photo" fileLimit="1" fileAccept="image/*"
                                                formControlName="profile">
                                            </input-file>
                                        </div>
                                    </div>
                                    <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                        <div class="px-2">
                                            <input-file type="file" placeholder="Adhar Card File" fileLimit="1" formControlName="adhar_title">
                                            </input-file>
                            
                                        </div>
                                    </div>
                                    <div fxFlex="33" class="pb-2 center" fxlayoutalign="center center">
                                        <div class="px-2">
                                            <input-file type="file" placeholder="Pan Card File" fileLimit="1" formControlName="pan_card">
                                            </input-file>
                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> -->


                        <!-- <div fxFlex="100" fxLayoutAlign="start center" class="my-3">
                            <button type="button" 
                                    mat-icon-button 
                                    matTooltip="Add Co-Owner" 
                                    matTooltipPosition="after" class="mx-1" (click)="addCoOwners()">
                            <mat-icon class="yellow-icon">add_circle</mat-icon>
                            <span class="uppercase fw-500 ml-1 black" >Add Co-Owner</span>
                            </button>
                        </div> -->
                    </div>
                    <div fxFlex="20" class="px-2">
                    </div>
                    <div fxFlex="100" class="px-2">
                        <div fxlayout="row" fxlayoutalign="center center" class="p-2" ng-reflect-fx-layout="row"
                            ng-reflect-fx-layout-align="center center"
                            style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                            <button mat-raised-button=""
                                class="mat-focus-indicator uppercase mx-1 mat-raised-button mat-button-base "
                                style="background: #ffe241;" (click)="submitUserData()">
                                <span class="mat-button-wrapper">submit</span>
                            </button>
                            <button mat-raised-button="" style="background: #ffe241;"
                                class="mat-focus-indicator uppercase mx-1 mat-raised-button mat-button-base" ng-reflect-color="aceent"
                                (click)="clearForm()">
                                <span class="mat-button-wrapper">Cancel</span>
                            </button>
                        </div>
                    </div>
                    <div fxFlex="100" class="px-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort
                                (matSortChange)="announceSortChange($event)">

                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by position"> No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by owner_name"> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.owner_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Date Of Birth">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by dob"> Date Of Birth </th>
                                    <td mat-cell *matCellDef="let element"> {{element['dob'] | date: 'dd/MM/yyyy'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by email"> Email </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Mobile">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by contact_number"> Mobile Number </th>
                                    <td mat-cell *matCellDef="let element">{{element.contact_number}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Address">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by permanent_address"> Address </th>
                                    <td mat-cell *matCellDef="let element"> {{element.permanent_address}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Property Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by property_name"> Property Name </th>
                                    <td mat-cell *matCellDef="let element">{{element.property_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by Action"> Edit </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-stroked-button (click)="editData(element.owner_id)"
                                            style="background: green;" class=" mx-1 my-1">
                                            <i class="material-icons" style="color: white;">edit</i>
                                        </button>
                                        <button mat-stroked-button (click)="deleteData(element)" class=" mx-1 my-1"
                                            style="background: red;">
                                            <i class="material-icons" style="color: white;">delete</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Delete">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by Delete">Delete</th>
                                    <td mat-cell *matCellDef="let element">
                                        <i class="material-icons">delete</i>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>