table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
}

.mat-column-agent_desc {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


  .ico{
    width:100px;
    display:block;
    height:100px;
    background:white;
    color:white;
    text-decoration:none;
    padding-left:20px;
}
.ico:before{
    content: '';
    // background:url('../../../../assets/images/images.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}

.shortName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
