<div class="p-3">
    <div class="theme-container">
        <mat-card ngClass.lt-lg="p-0">
            <!--[formGroup]="submitForm"-->
            <mat-card-title class="fw-500 text-center">
                OUR MISSION
            </mat-card-title>
            <mat-card-content fxLayout="row wrap">
                <div fxFlex="20" class="px-2">
                </div>
                <div fxFlex="60" class="px-2">
                    <form action="" fxLayout="row wrap" [formGroup]="missionForm">
                        <div fxFlex="100" fxLayout="row wrap">
                            <!--formArrayName="videos"-->
                            <div fxFlex="100" class="pb-2 center" fxlayoutalign="center center">
                                <div class="px-2">
                                    <input-file type="file" placeholder="Image (or link to image)" fileLimit="1"
                                        fileAccept="image/*" formControlName="image" (change)="selectFile()"
                                        [linkEnabled]="true">
                                    </input-file>
                                    <img *ngIf="imageFile !== null" src={{imageFile}} alt="" width="200" height="100" />
                                    <!-- <mat-error *ngIf="missionForm.controls.image.errors?.required ">Image is Required</mat-error> -->

                                </div>
                            </div>
                            <div fxFlex="100" formArrayName="missionModels"
                                *ngFor="let item of missionForm.get('missionModels')['controls']; let i = index;">
                                <div fxFlex="4" class="fw-500 text-center pt-3">{{1+i}}</div>.
                                <div fxFlex="90" fxLayout="row wrap" [formGroupName]="i">
                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="50" appearance="outline" class="w-100">
                                        <mat-label>Icons</mat-label>
                                        <mat-select placeholder="Select Icons" formControlName="icon">
                                            <mat-option [value]="icon.icon" *ngFor="let icon of icons">
                                                <mat-icon role="img" color="primary"
                                                    class="mat-icon notranslate mat-icon-md mat-primary material-icons"
                                                    ng-reflect-color="primary" data-mat-icon-type="font">{{icon.icon}}
                                                </mat-icon> - {{icon.name | titlecase}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="missionForm.get('missionModels')['controls'][i].controls.icon.errors?.required">Icon
                                            is Required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                        <mat-label>Title</mat-label>
                                        <input matInput placeholder="Link to video" autocomplete="off"
                                            formControlName="title">
                                        <mat-error
                                            *ngIf="missionForm.get('missionModels')['controls'][i].controls.title.errors?.required">Title
                                            is Required</mat-error>

                                        <!--formControlName="link"-->
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput placeholder="Description" rows="7"
                                            formControlName="description"></textarea>
                                        <mat-error
                                            *ngIf="missionForm.get('missionModels')['controls'][i].controls.description.errors?.required">Description
                                            is Required</mat-error>

                                    </mat-form-field>
                                </div>
                                <div fxFlex="6" class="text-center pt-2" *ngIf="i>0">
                                    <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteCard(i)">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div fxFlex="100" fxLayoutAlign="start center" class="my-3px-2">
                                <button type="button" mat-icon-button color="primary" matTooltip="Add New mission"
                                    matTooltipPosition="after" class="mx-3" (click)="addMissions()">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                                <p class="uppercase fw-500 mb-0">add Missions<span class="text-muted mx-3">(Max
                                        4)</span></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div fxFlex="20" class="px-2">
                </div>
                <div fxFlex="100" class="px-2">
                    <div fxlayout="row" fxlayoutalign="center center" class="p-2" ng-reflect-fx-layout="row"
                        ng-reflect-fx-layout-align="center center"
                        style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                        <button mat-raised-button="" style="background:#ffe241;"
                            class="mat-focus-indicator uppercase mx-1 mat-raised-button mat-button-base"
                            (click)="submitMission()">
                            <span class="mat-button-wrapper">submit</span>
                        </button>
                        <button mat-raised-button="" style="background: #ffe241;"
                            class="mat-focus-indicator uppercase mx-1 mat-raised-button mat-button-base"
                            ng-reflect-color="aceent" (click)="missionForm.reset()" (click)="imageFile = null">
                            <span class="mat-button-wrapper">Cancel</span>
                        </button>
                    </div>
                </div>
                <div fxFlex="100" class="px-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                            class="mat-elevation-z8">

                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by number"> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by image"> Image </th>
                                <td mat-cell *matCellDef="let element">
                                    <img src={{element.image}} alt="" class="m-2" border="3" height="100" width="100" />
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="icon">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by icon"> Icon </th>
                              <td mat-cell *matCellDef="let element">  
                                <mat-cell  *ngFor="let missionModel of element.missionModels">
                                    {{missionModel.icon}} 
                                 </mat-cell>
                              </td>
                          </ng-container> -->

                            <!-- <ng-container matColumnDef="Title">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Title"> Title </th>
                              <td mat-cell *matCellDef="let element"> 
                                <mat-cell  *ngFor="let missionModel of element.missionModels">
                                    {{missionModel.title}} 
                                 </mat-cell>
                                
                               </td>
                          </ng-container> -->
                            <!-- <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-cell  *ngFor="let missionModel of element.missionModels">
                                    {{missionModel.description}} 
                                 </mat-cell>
                            </td>
                          </ng-container> -->
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by Action"> Edit </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-stroked-button (click)="editData(element)" style="background: green;"
                                        class=" mx-1 my-1">
                                        <i class="material-icons" style="color: white;">edit</i>
                                    </button>
                                    <button mat-stroked-button (click)="deleteData(element)" class=" mx-1 my-1"
                                        style="background: red;">
                                        <i class="material-icons" style="color: white;">delete</i>
                                    </button>
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="Delete">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Delete">Delete</th>
                              <td mat-cell *matCellDef="let element">
                                  <i class="material-icons">delete</i>
                              </td>
                          </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>